.container
    h1 Expenses List
    h3 Date Range Filter
    table.table 
        tr
            th Start date range
            th End date Range
            th Action Filter
        tr
            td 
                datepicker
                    input(ng-model="startDate", type="text")
            td 
                datepicker
                    input(ng-model="endDate", type="text")
            td 
                button.btn.btn-primary(ng-click="getExpenseWithInRange()") filter

    table.table
        thead
            tr
                th Expense Title
                th Description
                th Amount 
                th Date
        tbody
            tr
                td
                    input.form-control(ng-model="currentExpenseData.title")
                td
                    input.form-control(ng-model="currentExpenseData.description")
                td
                    input.form-control(ng-model="currentExpenseData.amount")
                td
                    datepicker
                        input(ng-model="currentExpenseData.created", type="text")
                    
                td 
                    button.btn.btn-primary(ng-click="addExpense()") Add Expense
                td 
                    button.btn.btn-info(ng-click="updateExpense()") Update
                    &nbsp;
                    &nbsp;
                    button.btn.btn-info(ng-click="deselectExpense()") clear

            tr(ng-repeat="eachExpense in expenseList")
                td {{eachExpense.title}}
                td {{eachExpense.description}}
                td {{eachExpense.amount}}
                td {{prettyDate(eachExpense.created)}}
                td 
                    button.btn.btn-danger(ng-click="removeExpense(eachExpense._id)") Remove
                td 
                    button.btn.btn-warning(ng-click="editExpense(eachExpense._id)") Edit

