.panel.panel-primary
  .panel-heading.text-center functionalitites offered by expense manager
  .panel-body
    ul.list-group
        li.list-group-item Manage your daily expense
        li.list-group-item Generating View for your expense reports weekly 
        li.list-group-item Generating View for your expense reports within specified date range
        li.list-group-item CRUD operations on expenses 
        li.list-group-item secured web app