.panel.panel-primary
    .panel-heading.text-center Functionalities Provided by the expense Manager
    .panel-body 
        ul.list-group
            li.list-group-item Tracking expense on daily basis.
            li.list-group-item Generating Weekly Reports.
            li.list-group-item Generating Reports as per the requested range.
            li.list-group-item Generating Weekly Reports.
            li.list-group-item Performing CRUD operations on your expenses.
            